*{
    box-sizing: border-box;
}
main{
   background-color: #FFFEFE;
   width: 582px;
   margin: 0 95px 0 93px;
}

h1{
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

p{
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

label{
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a{
    color: #089FE0;
}

input {
    background-color: #F5F5F5;
    border-color: #F5F5F5;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

input::placeholder{
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

button{
    background-color: #089FE0;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 9px 102px;
    width: 394px;
    height: 44px;
}

.formSection{
    width: 394px;
}

.buttonConfirm img{
    position: relative;
    left: 348px;
    top: 20px
}
